<!--<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Notification</title>
  </head>


  <body style="font-family:'arial';">
      <div style="background: #fff max-width: 100%;text-align: left">
        <p class="thanking-text" style="color: #9d9d9d; font-size: 16px; padding-bottom: 15px;">Dear <%- fullname %>,</p>
      </div>

    <div class="email-block" style="background: #f6f6f6 none repeat scroll 0 0; border: 1px solid #e1e1e1; margin: 40px auto; max-width: 100%; padding: 30px 0; text-align: center; width: 600px; overflow: hidden;">

        <p style="color:#01579b;font-size:14px;margin-top:10px;padding-top:10px"> <%- invitationmsg %></a></p>
        <p class="thanking-text" style="color: #9d9d9d; font-size: 16px; padding-bottom: 15px;">Thank you, <br> Teem Players</p>

    </div>

  </body>

</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if mso]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body style="box-sizing: border-box; margin: 0; padding: 0; width: 100%;">

    <table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%;">
      <tr>
        <td class="spacer" height="15" style="font-size: 15px; line-height: 15px; margin: 0; padding: 0;">&nbsp;</td>
      </tr>
      <tr>
        <td style="padding: 0;">

          <!-- Header Left -->
          <table class="row" align="center" background="https://teemplayers.com/wp-content/uploads/2017/05/header.jpg" style="border-spacing: 0; margin: 0 auto;">
            <tr>
              <td class="spacer" height="40" style="font-size: 40px; line-height: 40px; margin: 0; padding: 0;">&nbsp;</td>
            </tr>
            <tr valign="top" style="vertical-align: top;">
              <th class="column mobile-12" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 10px; text-align: left;">
                <a href="http://www.teemplayers.com" target="_blank" style="text-decoration: none;">
                  <img class="mobile-center" src="https://teemplayers.com/wp-content/uploads/2017/05/teem-logo.png" width="105" height="26" alt="Header Logo" style="width: 105px; border: 0;">
                </a>
              </th>
            </tr>
            <tr>
              <td class="spacer" height="40" style="font-size: 40px; line-height: 40px; margin: 0; padding: 0;">&nbsp;</td>
            </tr>
          </table>
          <!-- /Header Left -->

          <!-- Intro Basic -->
          <table class="row" align="center" bgcolor="#F8F8F8" style="border-spacing: 0; margin: 0 auto;">
            <tr>
              <td class="spacer" height="80" style="font-size: 80px; line-height: 80px; margin: 0; padding: 0;">&nbsp;</td>
            </tr>
            <tr valign="top" style="vertical-align: top;">
              <th class="column sans-serif" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px; font-weight: 400; text-align: left;">
                <h1 class="serif" style="color: #1F2225; font-size: 28px; line-height: 50px; margin: 0; margin-bottom: 30px; padding: 0;">Hola,</h1>
                <div style="color: #969AA1; font-size: 18px; line-height: 28px; margin-bottom: 40px;">Te han invitado a un partido!</div>
                <table class="mobile-center" bgcolor="#c61315" style="border-spacing: 0; border-radius: 3px;">
                  <tr>
                    <td class="sans-serif" style="padding: 0; text-align: center;">
                      <a href="<%- invitationmsg %>" target="_blank" style="border: 0 solid #3FB58B; color: #FFFFFF; display: inline-block; font-size: 14px; font-weight: 400; padding: 15px 50px 15px 50px; text-align: center; text-decoration: none;">Ver invitación</a>
                    </td>
                  </tr>
                </table>
                <div style="color: #969AA1; font-size: 13px; margin-top: 40px;">Gracias, <br><strong>El Equipo de Team Players</strong></div>
              </th>
            </tr>
            <tr>
              <td class="spacer" height="80" style="font-size: 80px; line-height: 80px; margin: 0; padding: 0;">&nbsp;</td>
            </tr>
          </table>
          <!-- /Intro Basic -->

        <!-- Footer 1 -->
          <table class="row" align="center" bgcolor="#fff" style="border-spacing: 0; margin: 0 auto;">
            <tr>
              <th class="column has-columns" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px;">

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr>
                    <td class="spacer" height="80" colspan="2" style="font-size: 80px; line-height: 80px; margin: 0; padding: 0;">&nbsp;</td>
                  </tr>
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column mobile-padding-bottom" width="255" style="width: 255px; padding: 0; padding-right: 10px; font-weight: 400; text-align: left;">
                      <a href="http://www.teemplayers.com" target="_blank">
                        <img src="https://teemplayers.com/wp-content/uploads/2017/05/logo-footer.png" width="78" height="19" alt="Footer Logo" style="border: 0;">
                      </a>
                    </th>
                    <th class="column mobile-text-left" width="365" style="width: 365px; padding: 0; padding-left: 10px; color: #969AA1; font-size: 13px; font-weight: 400; text-align: right;">
                      <a href="http://twitter.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                        <img src="https://teemplayers.com/wp-content/uploads/2017/05/twitter-circle.png" width="24" height="24" alt="Twitter" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://facebook.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="https://teemplayers.com/wp-content/uploads/2017/05/facebook-circle.png" width="24" height="24" alt="Facebook" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://linkedin.com/companies/teem-players" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="https://teemplayers.com/wp-content/uploads/2017/05/linkedin-circle.png" width="24" height="24" alt="LinkedIn" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://instagram.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="https://teemplayers.com/wp-content/uploads/2017/05/instagram-circle.png" width="24" height="24" alt="Instagram" style="display: inline-block; width: 24px; border: 0;"> </a>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr>
                    <th class="column" width="640" style="width: 640px; padding: 0;">
                      <table class="divider" width="100%" style="border-spacing: 0;">
                        <tr>
                          <th height="30" style="font-size: 30px; line-height: 30px; padding: 0;">&nbsp;</th>
                        </tr>
                        <tr>
                          <td height="1" style="height: 1px; border-top: 1px solid #2B2E32; padding: 0; font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <th height="30" style="font-size: 30px; line-height: 30px; padding: 0;">&nbsp;</th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column mobile-6 sans-serif" width="200" style="width: 200px; padding: 0; padding-right: 10px; color: #969AA1; font-size: 13px; font-weight: 400; text-align: left;">
                      <h5 class="sans-serif" style="color: #969AA1; font-size: 14px; font-weight: 700; margin: 0; margin-bottom: 0px;">Teem Headquarters</h5>
                      <div style="margin-bottom: 20px;">
                        Madrid, España.
                      </div>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column sans-serif" width="640" style="width: 640px; padding: 0; color: #969AA1; font-size: 13px; font-weight: 400; text-align: left;">

                      <div>&copy; Teem Players. All Rights Reserved. <a href="https://teemplayers.com/terminos-y-condiciones" target="_blank" style="color: #969AA1; text-decoration: none;">Terms &amp; Conditions</a> | <a href="http://www.teemplayers.com" target="_blank" style="color: #969AA1; font-size: 13px; text-decoration: none;">Have Questions?</a></div>

                    </th>
                  </tr>
                </table>

                <table align="center" width="100%" style="border-spacing: 0; margin: 0 auto; width: 100%;">
                  <tr>
                    <td class="spacer" height="30" style="font-size: 30px; line-height: 30px; margin: 0; padding: 0;">&nbsp;</td>
                  </tr>
                </table>

              </th>
            </tr>
          </table>

  </body>
</html>



